[Desktop Entry]
Version=1.1
Name=Steam (Compat)
Comment=Launches steam-native-runtime using OpenGL version 4.5
Exec=steam-opengl-compat %f
Icon=steam
Terminal=false
Type=Application
Categories=Game;
MimeType=application/x-bsh;
